#Dhoni{
    background-color: blue;
    width: 300px;
    display: inline-block;
   /* padding-right: 50px;
    padding-bottom: 50px; */
    padding: 40px;  
    border: 20px double;
    margin:20px;
}



#Jadeja{background-color: rgb(14, 16, 107);
     /* padding-right: 50px;
    padding-bottom: 50px; */
    padding: 30px;
    display: inline-block;
    width: 300px;
    border: 20px groove;
    margin: 20px;
}
#Gaikwad{background-color: rgb(116, 42, 165);
      /* padding-right: 50px;
    padding-bottom: 50px; */
    padding: 30px;
    width: 300px;
    display: inline-block;
    margin: 20px;
    border: 20px ridge;}
#Sdube{background-color: rgb(22, 156, 18);
      /* padding-right: 50px;
    padding-bottom: 50px; */
    padding: 30px;
    width: 300px;
    border: 20px inset;
    display: inline-block;
    margin: 20px;

}

#MPathirana{background-color: rgb(12, 11, 11);
    width: 300px;
      /* padding-right: 50px;
    padding-bottom: 50px; */
    padding: 30px;
    display: inline-block;
    border: 20px outset;
    margin: 20px;
}

.players{
background-color:rgb(39, 39, 34);
width: 300px;
border: 20px groove;
padding: 20px;
margin: 20px;
}
#RohitHeading{ 
    background-color: black;
width:400px;
border: 20px inset;
padding: 20px;
margin: 20px;



}

#MIteamHeading{
    color: whitesmoke;
    background-color: grey;
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-shadow: 10px 10px 10px rgb(14, 2, 2);
    box-shadow: 10px 10px 10px black;
    border: 10px groove white;
    border-radius: 10px;
}